<VirtualHost *:80>
    ServerName localhost

    # the wsgi process will run with the user & group specified below,
    # so make sure that the files and directories you want to serve
    # are accessible with that user & group combination
    WSGIDaemonProcess mdsrv user=www-data group=www-data threads=5
    WSGIScriptAlias /mdsrv /var/www/mdsrv/mdsrv.wsgi

    <Directory /var/www/mdsrv>
        WSGIProcessGroup mdsrv
        WSGIApplicationGroup %{GLOBAL}
        WSGIScriptReloading On
        WSGIPassAuthorization On
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>